<%= start_tabnav :account %>
<%= error_messages_for "collection" %>
  <h2>Crearting a new Collection</h2>
  <h3>Properties</h3>
  <div class="step">
    <% form_tag collections_new_path(@collection) do -%>
      <%= render :partial => 'collections/form' %>
      <p><br/></p>
      <%= submit_tag 'Save Properties and Continue to add Media' %>
    <% end -%>
  </div>
<% end_tabnav -%>