<div class="block_title"><h2><%= @page_title %></h2></div>
<%= error_messages_for 'club' %>
<div class="step">
  <% form_tag club_edit_path(@club) do -%>
    <%= render :partial => 'clubs/form' %>
    <%= submit_tag 'Update Club' -%>
  <% end -%>
</div>