<div class="block_title"><h2><%= @page_title %></h2></div>
<div class="step">
  <% form_tag club_news_edit_path(@news_item) do -%>
    <%= render :partial => 'news_item_form' %>
    <p>
      <%= submit_tag 'Update News Item' %>
      <%= submit_tag 'Cancel', :name => 'cancel'  %>
    </p>
  <% end -%>
</div>