<div class="block_title"><h2>Clubs & Groups</h2></div>
<div class="step">
  <p>This page lists all available photographic clubs and groups. Any of our members can join a club or a group. Club or Group creation, however, is restricted to Professional or Premium members.</p>
  <p>Want to create a photographic club? Login to your <strong>My Account</strong> page and create any number of clubs or groups via our Ajaxed club management interface.</p>
  <p>Clubs allow its members to:</p>
  <ul>
    <li>Create and post to public or club private forums. As a club owner you can create unlimited number of forums for either your club members or for anyone to access.</li>
    <li>Create club news items, with an option to generate an email newsletter to all club members.</li>
    <li>Group club members photos and collections</li>
    <li>Display club members top and best photos</li>
    <li>Display all club members Google map markers with GeoRSS Feed</li>
    <li>RSS syndication for club latest and best photos  </li>
  </ul>
</div>
<div class="block_title"><h2>Viewing all Clubs & Groups</h2></div>
<%= render :partial => 'clubs/clubs_table' %>