<div id="doc" class="yui-t7"><!-- possible values: t1, t2, t3, t4, t5, t6, t7 -->
	<div id="bd">
	<!-- primary column from outer template -->
		<div id="yui-main">
			<div class="yui-b">
			<!--   stack grids here -->
				<!--   your content here -->
				<div class="navset" id="nav">
				   <div class="hd">
				      <h3>News Categories</h3>
				      <ul>
				         <li><a href="http://news.yahoo.com/"><em>Home</em></a></li>
				         <li><a href="http://news.yahoo.com/us"><em>U.S.</em></a></li>

				         <li class="on" title="selected"><a href="http://news.yahoo.com/business"><strong><em>Business</em></strong></a>           </li>
				         <li><a href="http://news.yahoo.com/world"><em>World</em></a></li>
				         <li><a href="http://news.yahoo.com/entertainment"><em>Entertainment</em></a></li>
				         <li><a href="http://news.yahoo.com/entertainment"><em>Sports</em></a></li>
				         <li class="orphan"><a href="http://news.yahoo.com/page/sitemap"><em>Index</em></a></li>     
				      </ul>

				   </div>
				   <div class="bd">
				      <h4>Business News Categories</h4>
				      <ul>
				         <li class="first"><a href="http://news.yahoo.com/business/economy">Economy</a></li>
				         <li><a href="http://news.yahoo.com/business/markets">Stock Markets</a></li>
				         <li class="on"><strong>Local News</strong></li>

				         <li><a href="http://news.yahoo.com/business/earnings">Earnings</a></li>
				         <li><a href="http://news.yahoo.com/business/personal">Personal Finance</a></li>
				         <li><a href="http://news.yahoo.com/business/opinion">Opinion</a></li>
				         <li class="last"><a href="http://news.yahoo.com/business/press">Press Releases</a></li>
				      </ul>
				   </div>
				</div>	
			</div>
		</div>
		<!-- / primary column from outer template -->	
	</div>
</div>        