    <td id="rightcolumn">
      <img src="/images/box_top.jpg" width="170" height="14">
      <%= render :file => 'layouts/_block', :use_full_path => true, 
                                            :locals => { :title => "block Title",
                                                         :body => "block Body" } %>
    </td>                                                         