<div class="block_title"><h2>Add License</h2></div>
<%= error_messages_for 'license' %>
<div class="step">
  <% form_tag 'add'  do %>
    <%= render :partial => 'licenses/form' %>
    <p><%= submit_tag 'Save License' %></p>
  <% end -%>
</div>