<div class="block_title"><h2><%= @page_title %></h2></div>
<div class="step">
  Cannot delete <%= @license.name %> as it is assigned to <%= @on_medias %> Media <%= pluralize(@on_medias, 'file') %>.
</div>