<p><label for="properties_bitrate">Preview MP3 Bitrate </label><br/>
<%= text_field :properties, :bitrate %> <em>i.e. 56k</em></p>
<p><label for="properties_sample_length">Preview MP3 Length </label><br/>
<%= text_field :properties, :sample_length %> <em>Seconds. Set 0 to preview full track</em></p>
