<div class="step">
  <h3>
    <p>You must be <%= link_to 'logged in', login_path %> to post to the forums.</p>
    <p>Not registered? <%= link_to 'Register', signup_path %> for a free account.</p>
  </h3>
</div>