<table class="media_info" cellpadding="0" cellspacing="0">
  <%= media_info_row('Views:',     media_stats.views_count) %>
  <%= media_info_row('Downloads:', media_stats.downloads) %>
  <%= media_info_row('Bookmarks:', media_stats.favourites_count) %>
  <%= media_info_row('Comments:',  media_stats.comments_count) %>
  <%= media_info_row('Rated:',     media_stats.ratings_count) %>
  <%= media_info_row('Sold:',      media_stats.sold_count) %>
</table>