*.bak
*.log
*.output
tmp/*
log/*.log
log/*.pid
images/*
public/library/*
images/photos/*
nbproject
doc/*
docs/*
doc/*
*.*~
config/site_config.yml
db/development_structure.sql
.idea/*
*.fflog
*.sql
*.zip
*.avi
