<p>Dear <%= @user.pretty_name %>.</p>
<p>You are receiving this email because your <%= @collection.name %> collection is being prepared for download.</p>
<p>You will receive another notification when <%= @collection.name %> is ready for download.</p>
<%= @msg %>