<p>Dear <%= @user.login %>.</p>
<p>You are receiving this email because Paypal has notified us of your subscription details.</p>
<p>Your account will be changed to the <%= @host_plan.name %> hosting account once payment notification has been received from Paypal.</p>
<%= @sig %>