<p>Dear <%= @club.name %> Member.</p>
<p>You are receiving this email because you are a member of <%= @club.name %>, which has just published the following newsletter:</p>
<%= @body %>
<%= @sig %>   