<p>Dear <%= @user.pretty_name %>.</p>
<p>You are receiving this email because you have just uploaded a photo to <%= Configuration.site_name -%>.</p>
<p>Your photo titled <%= @photo.title -%> has been approved for publishing on our site.</p>
<%= @sig %>   