<%= error_messages_for 'rank' %>

<!--[form:rank]-->
<p><label for="rank_posts">Posts</label><br/>
<%= text_field 'rank', 'posts'  %></p>

<p><label for="rank_name">Name</label><br/>
<%= text_field 'rank', 'name'  %></p>

<p><label for="rank_image">Image</label><br/>
<%= text_field 'rank', 'image'  %></p>
<!--[eoform:rank]-->

