<div class="step">
  <h3>
    The networking facility is available to registered members only. 
    Either <%= link_to 'login', :controller => 'account', :action => :login %> or 
    <%= link_to 'register', :controller => 'account', :action => :signup %> for a free account.
  </h3>
  <p><a href="javascript:;" onclick="lightbox.prototype.deactivate();">Close</a></p>
</div>