<%= error_messages_for 'news_topic' %>

<!--[form:news_topic]-->
<p><label for="news_topic_name">Name</label><br/>
<%= text_field 'news_topic', 'name'  %></p>

<p><label for="news_topic_description">Description</label><br/>
<%= text_area 'news_topic', 'description'  %></p>
<!--[eoform:news_topic]-->

