<div style="float:right" id="diggButton">
  <script type="text/javascript">
    digg_title = '<%= title %>';
  </script>
  <script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script>
</div>  