<link type="text/css" rel="stylesheet" href="/stylesheets/SyntaxHighlighter.css"></link>
<script language="javascript" src="/javascripts/shCore.js"></script>
<script class="javascript" src="/javascripts/shBrushJScript.js"></script>
<script class="javascript" src="/javascripts/shBrushRuby.js"></script>
<script language="javascript" src="/javascripts/shBrushXml.js"></script>
<script language="javascript">
    dp.SyntaxHighlighter.ClipboardSwf = '/swf/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
</script>