<%= error_messages_for 'links' %>

<!--[form:links]-->
<p><label for="links_name">Name</label><br/>
<%= text_field 'links', 'name'  %></p>

<p><label for="links_link">Link</label><br/>
<%= text_field 'links', 'link'  %></p>

<p><label for="links_description">Description</label><br/>
<%= text_area 'links', 'description'  %></p>
<!--[eoform:links]-->

