<h1>Editing links</h1>

<% form_tag :action => 'update', :id => @links do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @links %> |
<%= link_to 'Back', :action => 'list' %>
