<% for column in Links.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @links.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @links %> |
<%= link_to 'Back', :action => 'list' %>
