<% if Configuration.stats_tracking -%>
  <script type="text/javascript">
    _uacct = "UA-919326-2";
    //urchinTracker();
  </script>
  <!--<div style="height:0px"><script type="text/javascript" src="http://stats.pantherfotos.com/php-stats.js.php"></script>
  <noscript><img src="http://stats.pantherfotos.com/php-stats.php" border="0" alt=""></noscript>        -->
  <!--<script src="http://static.getclicky.com/21562.js" type="text/javascript"></script>
  <noscript><p><img alt="Clicky" src="http://in.getclicky.com/21562-db3.gif" /></p></noscript></div> -->
<% end -%>