<% @page_title = "#{Configuration.site_name} Subscriptions" %>
<%= start_tabnav :account %>
  <div class="block_title"><h2>Thank you for your subscription.</h2></div>
  <div class="step">
    <p>You will shortly receive an email confirmation regarding your host plan subscription.</p>
    <p>Please contact <a href="mailto:<%= Configuration.site_admin%>"><%= Configuration.site_admin %></a> with your username if your purchased host plan does not appear in your account in the next ten minutes.</p>
  </div>
<%= end_tabnav %>