<div class="block_title"><h2>About Panther Software</h2></div>
<div class="step">
  <p>Panther Software Publishing Limited is a software and web development company based in the South West of England. We have been registerd in England and Wales since 2001. </p>
  <p>We specialise in developing both web and desktop based business applications utilising:</p>
  <ul>
	  <li>Ruby on Rails and PHP for our web based development.</li>
		<li>Borland Delphi for our desktop and client/server business applications.</li>
	</ul>
  <p>PantherFotos.com is developed by Amanda and Nazar Aziz and is hosted by Panther Software Publishing Limited.</p>
	<p>Do not hesitate to <a href="/pages/contact_us">contact us</a> if any of our services could be of use to you. Please visit the <a href="http://panthersoftware.com">Panthersoftware.com</a> web site for more information on our company and services.. </p>
</div>