<% @page_title = 'Best viewed with Firefox' %>
<div class="block_title"><h2>Best viewed with Firefox</h2></div>
<div class="step" id="rant">
  <div class="block_title"><h2>Why Firefox? What is wrong with Internet Explorer?</h2></div>
  <p><%= Configuration.site_name %> exhibits some graphical glitches while viewed with Internet Explorer. We have tried
  to use compliant HTML and CSS as far as possible but the fault lies with Internet Explorer's badly implemented HTML 
  rendering code.</p>
  <p>Internet Explorer is widely acknowledged to unreliably render HTML and CSS code. Designers often spend a
  tremendous amount of time discovering and applying CSS hacks that would make pages render correctly for Internet Explorer
  while at the same time displaying correctly under more standards compliant browsers like Firefox and Opera.</p>
  <p><%= Configuration.site_name %> would rather invest this time in adding features that would enhance our user's experience than
  to hack our CSS and HTML to meet Internet Explorer's non compliant browser.</p>
  <p>We encourage all our visitors to switch to Firefox 2 for several reasons:</p>
  <ul>
    <li><%= Configuration.site_name %> was hand crafted to display perfectly in Firefox.</li>
    <li>Firefox is freely available and is considerably more secure than Internet Explorer</li>
    <li>Because Firefox is open source, many developers have developed <a href="https://addons.mozilla.org/">"plugins"</a> that extend this browser's functionality
    beyond anything Microsoft would add to Internet Explorer. These include: an <a href="https://addons.mozilla.org/firefox/themes/">extended library of skins</a>, 
    plugins to <a href="http://adblockplus.org/en/">block banners</a>, advertising graphics and annoying popups, 
    <a href="https://addons.mozilla.org/firefox/1122/">elegant multi-tabbed browsing</a> and <a href="http://www.mozilla.com/en-US/firefox/features.html">so much more</a>.</li>
    <li>Built-in spell checker for the blogger in you. </li>
    <li>Firefox's developers focus on delivering an improved browsing experience whilst Microsoft has left Internet Explorer
    stagnate for close to a decade once winning the browser wars with Netscape. Recently Firefox has won a large share
    of Internet Explorer's market (over 30% and quickly growing) which prompted Microsoft to release Internet Explorer 7. Microsoft continues to loose market share despite this. </li>
    <li>Firefox has been downloaded over <strong>400,000,000</strong> times.</li>
  </ul>
  <h3><strong><a href="http://www.mozilla.com/en-US/firefox/">Join the Firefox revolution today!</a></strong></h3>
</div>