<div class="block_title"><h2>Support</h2></div>
<div class="step">
  <p>Please visit our <a href="/forums">Support Forums</a> where you may find questions and issues similar to yours already listed with a relevant response</p>
  <p>If not then please start a new topic. If necessary provide detailed information on the issue to enable <%= Configuration.site_name %> to respond effectively.</p>
</div>
