<a href="http://digg.com/submit?phase=2&amp;url=<%= url -%>&amp;title=<%= title -%>" title="Digg it!" target="_blank" class="no_underline"><img src="/images/social_digg.gif" alt="Digg it!" /></a>
<a href="http://slashdot.org/bookmark.pl?url=<%= url -%>&amp;title=<%= title -%>" title="Slashdot" target="_blank" class="no_underline"><img src="/images/social_slashdot.gif" alt="Slashdot" /></a>
<a href="http://del.icio.us/post?url=<%= url -%>&amp;title=<%= title -%>" title="Del.Icio.Us" target="_blank" class="no_underline"><img src="/images/social_delicious.gif" alt="Del.icio.us" /></a>
<a href="http://www.google.com/bookmarks/mark?op=add&amp;bkmk=<%= url -%>&amp;title=<%= title -%>" title="Google Bookmarks" target="_blank" class="no_underline"><img src="/images/social_google.gif" alt="Google Bookmarks" /></a>
<a href="http://myweb2.search.yahoo.com/myresults/bookmarklet?u=<%= url -%>&amp;t=<%= title -%>" title="Yahoo! MyWeb" target="_blank" class="no_underline"><img src="/images/social_yahoomyweb.gif" alt="Yahoo! MyWeb" /></a>