<h1>Editing News Item</h1>

<% form_tag :action => 'update', :id => @news_item  do%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @news_item %> |
<%= link_to 'Back', :action => 'list' %>
