<h1>New News Item</h1>
<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p><%= check_box_tag 'newsletter' %> Email Newsletter</p>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
