<% for column in Promotion.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @promotion.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @promotion %> |
<%= link_to 'Back', :action => 'list' %>
