<% @page_title = "Activate your #{Configuration.site_name} account" %>
<div class="block_title"><h2>Activate your <%= Configuration.site_name %> account</h2></div>
<div class="step">
  <p>An email containing an <strong>activation link</strong> has been sent to your registered email address. 
     Please follow the directions in that email to activate your account.</p>
  <p><strong>Please check your spam mailbox or filter as the activation email is known to be flagged incorrectly as spam by Yahoo and Hotmail.</strong></p>
</div>