<% @page_title = 'Lost Password Retrieval' %>
<div class="block_title"><h2><%= @page_title %></h2></div>
<div class="step">
  <% form_tag do %>
    <p>A confirmation code has been emailed to your registered account. Please copy the confirmation code from that email and
       paste it into the <em>Confirmation Code</em> edit box below.</p>
    <p><label for="username">Confirmation Code</label><br/>
       <%= text_field_tag 'confirm_code' %></p>
    <p><%= submit_tag 'Reset Password' %></p>
  <% end %>
</div>