<div>
  <div align="center">
    <a href="/pages/best_viewed_with_firefox" class="no_underline"><img src="/images/ff.gif"></a> <br />
    <small><a href="/pages/best_viewed_with_firefox">Crafted for Firefox</a></small>
  </div>
</div>