<html>
<body onLoad='document.checkout.submit()'> 
<noscript><h1>This action requires Javascript support to be enabled in your browser. Please enable Javascript support and refresh the page to be redirected to the Payment Gateway for payment processing.</h1></noscript>
<%= yield %>
</body>
</html>